	
	//
	//	# _elements.button.scss
	//
	//	Generic and purpose specific button CSS
	//

	$bz-button-color: #666 !default;
	$bz-button-bgc: #fff !default;
	$bz-button-border: solid 1px rgba(0,0,0,.2) !default;
	$bz-button-font-size: $bz-font-size !default;
	$bz-button-font-family: $bz-font-stack !default;

	$bz-button-tiny-font-size: $bz-font-size--tiny !default;
	$bz-button-small-font-size: $bz-font-size--small !default;
	$bz-button-large-font-size: $bz-font-size--large !default;
	$bz-button-huge-font-size: $bz-font-size--huge !default;
	




	/*
	 *	## Button
	 *
	 *	Button setup and default styling. A default button will be generic in
	 *	in styling.
	 *
	 *	Default styling can always be overwritten using the settings file.
	 *
	 *	1.	Ensure the button is always a pointer.
	 *
	 */

	.#{$bz-prefix}button {
		background-color: $bz-button-bgc;
		border: $bz-button-border;
		padding: $bz-spacing-unit;
		border-radius: $bz-spacing-unit--tiny;
		font-size: $bz-font-size;
		font-family: $bz-font-stack;
		color: $bz-button-color;
		font-weight: 700;
		cursor: pointer; /*[1]*/

		// Hover
		&:hover {
			@include opacity(.8);
		}
	}




	/*
	 *
	 *	# Modifers
	 *
	 */




	 /*
	 *	## Button - Pill
	 *
	 *	A button pill is a button with all corners rounded to the maximum.
	 *
	 */

	.#{$bz-prefix}button--pill {border-radius: 200px;}




	/*
	 *	## Button - Type: Positive
	 *
	 *	This button styling is to denote the desired action. Normally a positive
	 *	action such as saving.
	 *
	 */

	.#{$bz-prefix}button--positive {
		background-color: $bz-positive-color;
		color: $bz-positive-contrast-fallback-color;
		color: $bz-positive-contrast-color;
	}




	/*
	 *	## Button - Size: Tiny
	 *
	 *	Displays a tiny button
	 *
	 */

	.#{$bz-prefix}button--tiny {
		font-size: $bz-button-tiny-font-size;
		padding: $bz-spacing-unit--tiny;
	}




	/*
	 *	## Button - Size: Small
	 *
	 *	Displays a small button
	 *
	 */

	.#{$bz-prefix}button--small {
		font-size: $bz-button-small-font-size;
		padding: $bz-spacing-unit--small;
	}




	/*
	 *	## Button - Size: Large
	 *
	 *	Displays a large button
	 *
	 */

	.#{$bz-prefix}button--large {
		font-size: $bz-button-large-font-size;
	}




	/*
	 *	## Button - Size: Huge
	 *
	 *	Displays a huge button
	 *
	 */

	.#{$bz-prefix}button--huge {
		font-size: $bz-button-huge-font-size;
	}