	
	//
	//	# _mixins.opacity.scss
	//
	//	Mixin to provide clean cross browser opacity support.
	//
	//

	@mixin opacity($opacity) {
		opacity: $opacity;
		$opacity-ie: $opacity * 100;
		filter: alpha(opacity=$opacity-ie); //IE8
	}