
	//
	//	# _settings.defaults.scss
	//
	//	Default colors and variables are stored here.
	//
	//	********
	//	Notice: This file shouldn't be modified. Instead use the `_settings.user-defaults.scss` for that.
	//	********
	//


	// Class Prefix
	$bz-prefix: "baz-" !default;




	//
	//	## Colors
	//
	//	Define default colors to be used througout the framework.
	//

	$bz-body-bgc: #fff !default;
	$bz-on-dark-color: #fff !default;
	$bz-on-light-color: #111 !default;




	//
	//	## Text
	//
	//	Define the default text size unit. All other sizes are based on this.
	//
	$bz-font-stack: 'Arial', 'san-serif' !default;
	$bz-text-color: #111 !default;
	$bz-font-size: 16px !default;
	$bz-font-size--tiny: 10px !default;
	$bz-font-size--small: 13px !default;
	$bz-font-size--large: 20px !default;
	$bz-font-size--huge: 26px !default;




	//
	//	## Spacing Units
	//
	//	Define the default units for spacing.
	//
	$bz-spacing-unit: 15px;
	$bz-spacing-unit--tiny: round($bz-spacing-unit / 4) !default;
	$bz-spacing-unit--small: round($bz-spacing-unit / 2) !default;
	$bz-spacing-unit--large: round($bz-spacing-unit * 2) !default;
	$bz-spacing-unit--huge: round($bz-spacing-unit * 4) !default;