	
	//
	//	# _structure.grid.scss
	//
	//	Project Barry simple grid system.
	//
	
	$bz-grid-width: 100% !default;
	$bz-grid-column-width: $bz-grid-width / 12 !default;




	/*
	 *	## Grid
	 *
	 *	The wrapper of all rows and columns for the grid.
	 *
	 *	1.	
	 *
	 */

	.#{$bz-prefix}grid {
		@extend .u-cf;
	}




	/*
	 *	## Row
	 *
	 *	The wrapper of all 12 columns.
	 *
	 *	1.	
	 *
	 */

	.#{$bz-prefix}grid-row {
		@extend .u-cf;
		margin-left: - $bz-spacing-unit / 2;
		margin-right: - $bz-spacing-unit / 2;
		margin-top: $bz-spacing-unit / 2;
		margin-bottom: $bz-spacing-unit / 2;

		&:first-child {margin-top: 0;}
		&:last-child {margin-bottom: 0;}
	}




	/*
	 *	## Column
	 *
	 *	A single grid column. Each row can contain 12 column units.
	 *
	 *	1.	
	 *
	 */

	.#{$bz-prefix}grid-col,
	.#{$bz-prefix}grid-column {
		width: $bz-grid-column-width;
		float: left;
		box-sizing: border-box;
		padding-left: $bz-spacing-unit / 2;
		padding-right: $bz-spacing-unit / 2;
	}




	/*
	 *
	 *	# Modifers
	 *
	 */




	/*
	 *	## Column Span
	 *
	 *	Set a column to span the width of multiple columns.
	 *
	 *	This block will loop and output the selectors each spanner.
	 *
	 *	1.	Set the width to a multiple of the span.
	 *
	 */

	@for $i from 1 through 12 {
		.#{$bz-prefix}grid-col--span-#{$i},
		.#{$bz-prefix}grid-column--span-#{$i} {
			width: $bz-grid-column-width * $i; /*[1]*/
		}
	}




	/*
	 *	## Column Push
	 *
	 *	Push a column x column units to the right.
	 *
	 *	1.	Set the push amount for the left.
	 *
	 */

	@for $i from 1 through 12 {
		.#{$bz-prefix}grid-col--push-#{$i},
		.#{$bz-prefix}grid-column--push-#{$i} {
			margin-left: $bz-grid-column-width * $i; /*[1]*/
		}
	}




	/*
	 *	## Column Pull
	 *
	 *	Pull a column x column units to the left.
	 *
	 *	1.	Set the pull amount for the left. Must be negative.
	 *
	 */

	@for $i from 1 through 12 {
		.#{$bz-prefix}grid-col--pull-#{$i},
		.#{$bz-prefix}grid-column--pull-#{$i} {
			margin-left: - $bz-grid-column-width * $i; /*[1]*/
		}
	}