	
	//
	//	# _utilities.text-align.scss
	//
	//	Utility to forcefully align text
	//
	




	/*
	 *	## Text Align Left
	 *
	 */

	.u-ta-l,
	.u-ta-left {
		text-align: left !important;
	}




	/*
	 *	## Text Align Right	
	 *
	 */

	.u-ta-r,
	.u-ta-right {
		text-align: right !important;
	}




	/*
	 *	## Text Align Center	
	 *
	 */

	.u-ta-c,
	.u-ta-center {
		text-align: center !important;
	}