	
	//
	//	# _utilities.padding.scss
	//
	//	Utility to forcefully add padding to an element
	//
	




	/*
	 *	## Padding (All Sides)
	 *
	 */

	.u-p {
		padding: $bz-spacing-unit !important;
	}




		/*
		 *	## Padding (All Sides) - Tiny
		 *
		 */

		.u-p-- {
			padding: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Padding (All Sides) - Small
		 *
		 */

		.u-p- {
			padding: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Padding (All Sides) - Large
		 *
		 */

		.u-p\+ {
			padding: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Padding (All Sides) - Huge
		 *
		 */

		.u-p\+\+ {
			padding: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Padding Horizontally
	 *
	 */

	.u-ph {
		padding-right: $bz-spacing-unit !important;
		padding-left: $bz-spacing-unit !important;
	}




		/*
		 *	## Padding Horizontally - Tiny
		 *
		 */

		.u-ph-- {
			padding-right: $bz-spacing-unit--tiny !important;
			padding-left: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Padding Horizontally - Small
		 *
		 */

		.u-ph- {
			padding-right: $bz-spacing-unit--small !important;
			padding-left: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Padding Horizontally - Large
		 *
		 */

		.u-ph\+ {
			padding-right: $bz-spacing-unit--large !important;
			padding-left: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Padding Horizontally - Huge
		 *
		 */

		.u-ph\+\+ {
			padding-right: $bz-spacing-unit--huge !important;
			padding-left: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Padding Vertically
	 *
	 */

	.u-pv {
		padding-top: $bz-spacing-unit !important;
		padding-bottom: $bz-spacing-unit !important;
	}




		/*
		 *	## Padding Vertically - Tiny
		 *
		 */

		.u-pv-- {
			padding-top: $bz-spacing-unit--tiny !important;
			padding-bottom: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Padding Vertically - Small
		 *
		 */

		.u-pv- {
			padding-top: $bz-spacing-unit--small !important;
			padding-bottom: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Padding Vertically - Large
		 *
		 */

		.u-pv\+ {
			padding-top: $bz-spacing-unit--large !important;
			padding-bottom: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Padding Vertically - Huge
		 *
		 */

		.u-pv\+\+ {
			padding-top: $bz-spacing-unit--huge !important;
			padding-bottom: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Padding Top
	 *
	 */

	.u-pt {
		padding-top: $bz-spacing-unit !important;
	}




		/*
		 *	## Padding Top - Tiny
		 *
		 */

		.u-pt-- {
			padding-top: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Padding Top - Small
		 *
		 */

		.u-pt- {
			padding-top: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Padding Top - Large
		 *
		 */

		.u-pt\+ {
			padding-top: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Padding Top - Huge
		 *
		 */

		.u-pt\+\+ {
			padding-top: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Padding Right
	 *
	 */

	.u-pr {
		padding-right: $bz-spacing-unit !important;
	}




		/*
		 *	## Padding Right - Tiny
		 *
		 */

		.u-pr-- {
			padding-right: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Padding Right - Small
		 *
		 */

		.u-pr- {
			padding-right: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Padding Right - Large
		 *
		 */

		.u-pr\+ {
			padding-right: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Padding Right - Huge
		 *
		 */

		.u-pr\+\+ {
			padding-right: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Padding Bottom
	 *
	 */

	.u-pb {
		padding-bottom: $bz-spacing-unit !important;
	}




		/*
		 *	## Padding Bottom - Tiny
		 *
		 */

		.u-pb-- {
			padding-bottom: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Padding Bottom - Small
		 *
		 */

		.u-pb- {
			padding-bottom: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Padding Bottom - Large
		 *
		 */

		.u-pb\+ {
			padding-bottom: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Padding Bottom - Huge
		 *
		 */

		.u-pb\+\+ {
			padding-bottom: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Padding Left
	 *
	 */

	.u-pl {
		padding-left: $bz-spacing-unit !important;
	}




		/*
		 *	## Padding Left - Tiny
		 *
		 */

		.u-pl-- {
			padding-left: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Padding Left - Small
		 *
		 */

		.u-pl- {
			padding-left: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Padding Left - Large
		 *
		 */

		.u-pl\+ {
			padding-left: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Padding Left - Huge
		 *
		 */

		.u-pl\+\+ {
			padding-left: $bz-spacing-unit--huge !important;
		}