	
	//
	//	# _utilities.margin.scss
	//
	//	Utility to forcefully add margin to an element
	//
	




	/*
	 *	## Margin (All Sides)
	 *
	 */

	.u-m {
		margin: $bz-spacing-unit !important;
	}




		/*
		 *	## Margin (All Sides) - Tiny
		 *
		 */

		.u-m-- {
			margin: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Margin (All Sides) - Small
		 *
		 */

		.u-m- {
			margin: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Margin (All Sides) - Large
		 *
		 */

		.u-m\+ {
			margin: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Margin (All Sides) - Huge
		 *
		 */

		.u-m\+\+ {
			margin: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Margin Horizontally
	 *
	 */

	.u-mh {
		margin-right: $bz-spacing-unit !important;
		margin-left: $bz-spacing-unit !important;
	}




		/*
		 *	## Margin Horizontally - Tiny
		 *
		 */

		.u-mh-- {
			margin-right: $bz-spacing-unit--tiny !important;
			margin-left: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Margin Horizontally - Small
		 *
		 */

		.u-mh- {
			margin-right: $bz-spacing-unit--small !important;
			margin-left: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Margin Horizontally - Large
		 *
		 */

		.u-mh\+ {
			margin-right: $bz-spacing-unit--large !important;
			margin-left: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Margin Horizontally - Huge
		 *
		 */

		.u-mh\+\+ {
			margin-right: $bz-spacing-unit--huge !important;
			margin-left: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Margin Vertically
	 *
	 */

	.u-mv {
		margin-top: $bz-spacing-unit !important;
		margin-bottom: $bz-spacing-unit !important;
	}




		/*
		 *	## Margin Vertically - Tiny
		 *
		 */

		.u-mv-- {
			margin-top: $bz-spacing-unit--tiny !important;
			margin-bottom: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Margin Vertically - Small
		 *
		 */

		.u-mv- {
			margin-top: $bz-spacing-unit--small !important;
			margin-bottom: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Margin Vertically - Large
		 *
		 */

		.u-mv\+ {
			margin-top: $bz-spacing-unit--large !important;
			margin-bottom: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Margin Vertically - Huge
		 *
		 */

		.u-mv\+\+ {
			margin-top: $bz-spacing-unit--huge !important;
			margin-bottom: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Margin Top
	 *
	 */

	.u-mt {
		margin-top: $bz-spacing-unit !important;
	}




		/*
		 *	## Margin Top - Tiny
		 *
		 */

		.u-mt-- {
			margin-top: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Margin Top - Small
		 *
		 */

		.u-mt- {
			margin-top: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Margin Top - Large
		 *
		 */

		.u-mt\+ {
			margin-top: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Margin Top - Huge
		 *
		 */

		.u-mt\+\+ {
			margin-top: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Margin Right
	 *
	 */

	.u-mr {
		margin-right: $bz-spacing-unit !important;
	}




		/*
		 *	## Margin Right - Tiny
		 *
		 */

		.u-mr-- {
			margin-right: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Margin Right - Small
		 *
		 */

		.u-mr- {
			margin-right: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Margin Right - Large
		 *
		 */

		.u-mr\+ {
			margin-right: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Margin Right - Huge
		 *
		 */

		.u-mr\+\+ {
			margin-right: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Margin Bottom
	 *
	 */

	.u-mb {
		margin-bottom: $bz-spacing-unit !important;
	}




		/*
		 *	## Margin Bottom - Tiny
		 *
		 */

		.u-mb-- {
			margin-bottom: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Margin Bottom - Small
		 *
		 */

		.u-mb- {
			margin-bottom: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Margin Bottom - Large
		 *
		 */

		.u-mb\+ {
			margin-bottom: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Margin Bottom - Huge
		 *
		 */

		.u-mb\+\+ {
			margin-bottom: $bz-spacing-unit--huge !important;
		}




	/*
	 *	## Margin Left
	 *
	 */

	.u-ml {
		margin-left: $bz-spacing-unit !important;
	}




		/*
		 *	## Margin Left - Tiny
		 *
		 */

		.u-ml-- {
			margin-left: $bz-spacing-unit--tiny !important;
		}




		/*
		 *	## Margin Left - Small
		 *
		 */

		.u-ml- {
			margin-left: $bz-spacing-unit--small !important;
		}




		/*
		 *	## Margin Left - Large
		 *
		 */

		.u-ml\+ {
			margin-left: $bz-spacing-unit--large !important;
		}




		/*
		 *	## Margin Left - Huge
		 *
		 */

		.u-ml\+\+ {
			margin-left: $bz-spacing-unit--huge !important;
		}